@{
    ViewBag.Title = "";
}

<section class="youplay-banner banner-top big">
    <div class="image" style="background-image:url('../../Content/banner.jpg')">

    </div>
    <div class="info">
        <div class="container text-center">
            <h1 class="fs-60">Humble | Curious | Dedication</h1>
            <!-- Need to figure a different to do a popup video -->
            <a class="btn btn-md video" href="https://www.youtube.com/watch?v=edYCtaNueQY&t=3s">
                <i class="fas fa-play-circle"></i>
                Watch
            </a>
        </div>
    </div>
</section>